body {
    font-family: 'Roboto', sans-serif;
    background-color: #00833E; 
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white; 
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .form-group {
    margin-bottom: 15px;
    flex: 1 1 45%; 
    margin-right: 10px; 
  }
  
  .form-group:nth-child(2n) {
    margin-right: 0; 
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white; 
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #068F52; 
    color: white; 
  }
  
  .submit-button {
    padding: 10px 20px;
    background-color: #E6F3EC; 
    color: #00844A; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px; 
    font-family: 'Montserrat', sans-serif;
    width: 100%; 
  }
  
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .result {
    margin-top: 20px;
  }
  
  .result h2 {
    font-size: 24px;
    color: white; 
  }
  
  .result p {
    font-size: 18px;
    color: white; 
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .action-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #068F52;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  
  .result-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    color: white; 
  }
  
  .result-overlay h2 {
    font-size: 24px;
    color: white; 
    margin-bottom: 10px;
  }
  
  .result-overlay p {
    font-size: 18px;
    color: white; 
  }
  
  .notification-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #E6F3EC; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
    display: none; 
    color: white; 
  }
  
  .notification-box.show {
    display: block; 
  }
  
  .notification-box .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white; 
  }
  
  .notification-box h2 {
    font-size: 24px;
    color: #00844A; 
    margin-bottom: 10px;
  }
  
  .notification-box p {
    font-size: 18px;
    color: #00844A; 
  }
  
  .button-group {
    margin-top: 20px;
  }
  
  .button-group .action-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-group .action-button:hover {
    background-color: #45a049;
  }
  
  
  .logo {
    position: absolute;
    top: 40px;
    left: 100px; 
    width: 100px; 
    z-index: 1001; 
  }
  
  .slogan-box {
    position: absolute;
    top: 50px; 
    right: 100px; 
    background-color: #E6F3EC; 
    color: #00844A; 
    padding: 10px 20px; 
    font-size: 20px; 
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    z-index: 1000;
  }
  
  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
    position: relative;
    top: 70px;
  }
  
  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 80px;
  }
  
  .separator {
    border-top: 2px solid white;
    margin-top: 0px;
    position: absolute;
    top: 120px;
    left: 20px;
    right: 20px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    position: relative; 
  }
  
  .score-segment-bar {
    display: flex;
    width: 100%;
    height: 60px; /* Increased height to accommodate score ranges */
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .segment {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    flex-direction: column; /* Added to stack the text and score range */
  }
  
  .segment span {
    font-size: 12px;
    font-weight: normal;
  }
  
  .segment.bad {
    background-color: #FF4C4C;
  }
  
  .segment.fair {
    background-color: #FFA500;
  }
  
  .segment.good {
    background-color: #7CFC00;
    color: black;
  }
  
  .segment.excellent {
    background-color: #008000;
  }
  
  .notification-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
    width: 500px; /* Increased width */
    max-width: 90%; /* Ensure it fits on smaller screens */
    max-height: 80%; /* Added max height to ensure it fits on smaller screens */
    overflow-y: auto; /* Added overflow for scrolling if content overflows */
  }
  
  .notification-box h2 {
    margin-top: 0;
  }
  
  .notification-box .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .notification-box .score-segment-bar {
    margin-top: 20px;
  }
  
  .notification-box .actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .notification-box .action-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }